<h1>Nested3 app</h1>
<p></p>

<h2>Users</h2>


<h4>unsigned users (guest)</h4>
<ul>
	<li>cannot create surveys</li>
	<li>can view all surveys</li>
</ul>
<h4>signed in users (regular users)</h4>
<ul>
	<li>can create surveys but not delete any survey</li>
	<li>can edit their surveys: add and delete questions and answers</li> 
</ul>
<h4>admin</h4> 
<ul>
	<li>can do everything including delete surveys</li>
</ul>
	

