<h1>Nested3 app</h1>
<p></p>

<h2>Users</h2>

<h4>unsigned users (guest)</h4>
<ul>
	<li>cannot create surveys</li>
	<li>can view all surveys</li>
</ul>
<h4>signed in users (regular users)</h4>
<ul>
	<li>can create surveys but not delete any survey</li>
	<li>can edit their surveys: add and delete questions and answers</li> 
</ul>
<h4>admin</h4> 
<ul>
	<li>can do everything including delete surveys</li>
</ul>
	

<h2>Added Administrate gem</h2>
<p>Only admins can have access to administrate</p>
<p>Admins can:</p>
<ul>
	<li>create users and make changes to user's profile</li>
	<li>create other admin users</li>
	<li>make changes to the surveys, questions and answers</li> 
</ul>

<p>You can give admins a lot or limit their control over the users and basically all the app by setting it up through administrate gem customization.</p>
