<div class="jumbotron">
  <h1>Nested3</h1>
  <p>This is an app demos "accepts_nested_attributes_for."</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Test button</a></p>
</div>

<%#= link_to "About", about_path %>
