<div class="form-group answer_field">
	<%#= f.label :content %>
	<%= f.text_field :content, class: "form-control", placeholder: "Enter answer" %>
	<%= f.check_box :_destroy %>
	<%= f.label :_destroy, "Remove answer" %>
</div>