
@import "bootstrap-sprockets";
@import "bootstrap";

.question_field {
	margin-left: 50px;
}

.answer_field {
	margin-top: 15px;
	margin-left: 50px;
}

.jumbotron {
	background-image: asset-url('image.jpg');
	background-size: cover;
	background-position: 0% 15%;
	//text-shadow: -1px 0 #555, 0 1px #555, 1px 0 #555, 0 2px lightgray;
}

.error-message {
	background-color: #F2DEDE;
}
