<div class="container">
	<footer class="footer">
		<small>
			copyright &copy; Nested3 2017
			by Joe Garcia
		</small>
		<nav>
			<ul>
				<li><%= link_to "About", about_path %></li>
			</ul>
		</nav>
	</footer>
</div>
